body {
    background: gold;
}

p {
    color: rgb(0, 0, 255);
    text-align: center;
}

h1 {
    font-weight: bold;
    color: brown;
    font-family: cursive;
    text-align: center;
}

h3 {
    font-family: serif;
    text-align: center;
    color: rgb(0, 0, 255);
}

img {
    border: red;
    border-style: double;
    border-width: 25px;
    border-radius: 35%;
    align-items: center
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1.00);
}